<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.RestaurantRepository">

    <select id="findAll" resultType="Restaurant">
        select
            *
        from
            restaurant_study
        <trim prefix="where" prefixOverrides="AND">
            <if test="name != null">
            name like '%${name}%'
            </if>
            <if test="categoryId != null">
            category_id = #{categoryId}
            </if>
        </trim>
        order by id desc
        limit 0, 10
    </select>

    <select id="findById" resultType="Restaurant">
        select
            *
        from    
            restaurant_study
        where
            id = #{id}
    </select>

    <select id="findByName" resultType="Restaurant">
        select
            *
        from    
            restaurant_study
        where
            name = #{name}
    </select>

    <insert id="add" parameterType="Restaurant">
        insert into
            restaurant_study
            (category_id, name, img, intro, address, operating_time, contact_number)
        values
            (#{categoryId}, #{name}, #{img}, #{intro}, #{address}, #{operatingTime}, #{contactNumber})
    </insert>

    <update id="update" parameterType="Restaurant">
        update
            restaurant_study
        set
            category_id = #{categoryId},
            name = #{name},
            img = #{img},
            intro = #{intro},
            address = #{address},
            operating_time = #{operatingTime},
            contact_number = #{contactNumber}
        where
            id = #{id}
    </update>

</mapper>